{% extends "layout.html" %}
{% block title %}Harvestly{% endblock %}

{% block content %}
<div>
    <div class="row">
        <div class="col align-self-center">
            <h1 class="title">Harvestly</h1>
            <h4>Welcome to Harvestly! Our mission is to provide a platform for farmers and customers to get together and do business. Harvestly makes it easy for farmers to advertise when, what, and where they're selling, and helps them get together for market events. The markets that the farmers create then get shown to customers that come looking for high-quality produce that you just can't get from a grocery store. Whether you're looking to sell or to buy, let us be the first to welcome you to a thriving community of people looking to share the joy of fresh produce that's made with heart.</h4>
        </div>
        <div class="col align-self-center text-center justify-content-center">
            {% load static %}
            <img src="{% static 'img/home.jpg' %}" class="splash-pic" alt="Home">
        </div>
    </div>
</div>
{% endblock %}