{% extends "layout.html" %}
{% block title %}Harvestly{% endblock %}

{% block content %}
<div>
    <div class="row">
        <div class="col align-self-center">
            <h1 class="title">Harvestly</h1>
            <h3 class="subtitle">Bringing the farm to your home.</h3>
            <div class="row mt-5">
                <div class="col align-items-center text-center">
                    <h4 color="dark-color">Browse all markets</p>
                    <a class="harvestly-nav-btn-primary mx-1 py-2 d-flex justify-content-center align-items-center"
                        href="{% url 'events'%}">
                        <h4 class="m-0">See Markets</h4>
                    </a>
                </div>
                <div class="col align-items-center text-center">
                    <h4 color="dark-color">Browse all products</p>
                    <a class="harvestly-nav-btn-primary mx-1 py-2 d-flex justify-content-center align-items-center"
                        href="{% url 'products'%}">
                        <h4 class="m-0">See Products</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="col align-self-center text-center justify-content-center">
            {% load static %}
            <img src="{% static 'img/home.jpg' %}" class="splash-pic" alt="Home">
        </div>
    </div>
</div>
{% endblock %}