{% extends "layout.html" %}
{% block title %}Harvestly{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex align-items-center justify-content-between">
                <h2 class="subtitle mb-4">Markets</h6>
            </div>
            {% if event_list %}
                <div class="row">
                    {% for event in event_list %}
                        {% if user.id == event.organizer.id %}
                            <div class="col-lg-6 my-3">
                                <a class="harvestly-card-link" href="{% url 'event-detail' event.id %}">
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="card-title">{{ event.name|title }}</h3>
                                            <h5>{{ event.start_time|date:"F j, Y" }} - {{ event.end_time|date:"F j, Y" }}</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    <h1>You have no events...</h1>
                    <a class="harvestly-nav-link mt-4" href="{% url 'events' %}">View all events</a>
                </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="d-flex align-items-center justify-content-between">
                <h2 class="subtitle mb-4">Products</h2>
            </div>
            {% if product_list %}
                <div class="row">
                    {% for product in product_list %}
                        {% if user.id == product.owner.id %}
                            <div class="col-lg-6 my-3">
                                <a class="harvestly-card-link" href="{% url 'product-details' product.id %}">
                                    <div class="card">
                                        <div class="harvestly-product-card-img-container">
                                            <!-- Render image thumbnail -->
                                            {% include "_product_thumbnail.html" with product=product %}
                                        </div>
                                        <div class="card-body">
                                            <h3 class="card-title">{{ product.name|title }}</h3>
                                            <div class="d-flex justify-content-between">
                                                <h5>${{ product.price|floatformat:"2" }}</h5>
                                                <h5>&times;{{ product.quantity }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    <h1>You have no products...</h1>
                    <a class="harvestly-nav-link mt-4" href="{% url 'products' %}">View all products</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}