{% extends "layout.html" %}
{% block title %}{{ product.name|title }} Details{% endblock %}

{% load static %}
{% block content %}
<div>
    <h3 class="subtitle">{{ product.name|title }}</h3>
    <div class="row mt-4 mb-5">
        <div class="col-md-6">
            <!-- render product image or placeholder -->
            {% include "_product_image.html" %}
        </div>
        <div class="col-md-6 align-self-center">
            <h3>{{ product.name|title }} Details</h3>
            <h5>{{ product.description }}</h5>
            {% if product.product_event %}
                <a
                    class="harvestly-nav-link mt-4" 
                    href="{% url 'event-detail' product.product_event.id %}"
                >
                    <h6>Available at {{ product.product_event.name|title }}</h6>
                </a>
            {% endif %}
            <h5 class="mt-5 mb-3">${{ product.price|floatformat:"2" }}</h5>
            <div class="d-flex text-muted justify-content-between">
                <h5>Quantity</h5>
                <h5>
                    <i class="bi-server"></i>
                    {{ product.quantity }}
                </h5>
            </div>
            <div class="d-flex text-muted justify-content-between">
                <h5>Reserved</h5>
                <h5 class="{% if product.get_reservation_count >= product.quantity %}text-danger{% endif %}">
                    <i class="bi-person-x"></i>
                    {{ product.get_reservation_count }}
                </h5>
            </div>
        </div>
    </div>
    
    <div class="row mt-5 pt-4">
        <div class="col-md-6 d-flex flex-column">
            <h3>Product Vendor Information</h3>
            <h5>{{ product.owner.username|title }}</h5>

            <!-- TODO develop this as we build out user profile -->
            <p class="text-muted mt-3">More vendor information coming soon.</p>
        </div>
        <!-- If user is not logged in OR if they are not the owner -->
        {% if not user.is_authenticated or user.id != product.owner.id %}
            <div class="col-md-6">
                {% if not reservation %}
                    <div class="d-flex justify-content-end">
                        <a 
                            href="{% url 'reservation-create' product.id %}" 
                            class="harvestly-nav-btn-primary p-2"
                        >
                            <h5 class="m-0">Reserve this Product</h5>
                        </a>
                    </div>
                {% else %}
                    <div class="d-flex flex-column mb-3">
                        <div class="d-flex text-muted justify-content-between">
                            <h5>Your Reserved</h5>
                            <h5>
                                <i class="bi-bag-check-fill"></i>
                                {{ reservation.quantity }}
                            </h5>
                        </div>
                        <div class="d-flex text-muted justify-content-between">
                            <h5>Total Cost</h5>
                            <h5>${{ reservation.price|floatformat:"2" }}</h5>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a 
                            href="{% url 'reservation-delete' reservation.id %}" 
                            class="harvestly-nav-btn-danger p-2 mr-2"
                        >
                            <h5 class="m-0">
                                <i class="bi-exclamation-diamond-fill"></i>
                                Delete Reservation
                            </h5>
                        </a>
                        <a 
                            href="{% url 'reservation-update' reservation.id %}" 
                            class="harvestly-nav-btn-primary p-2"
                        >
                            <h5 class="m-0">Edit Reservation</h5>
                        </a>
                    </div>
                {% endif %}
            </div>
        <!-- If the user is the owner of this product, display the edit, delete options -->
        {% else %}
            <div class="col-md-6 d-flex justify-content-end align-self-center">
                <a
                    href="{% url 'product-delete' product.id %}"
                    class="harvestly-nav-btn-danger d-flex justify-content-center align-items-center py-2 mx-1"
                >
                    <h4 class="m-0">
                        <i class="bi-exclamation-diamond-fill"></i>
                        Delete
                    </h4>
                </a>
                <a 
                    href="{% url 'product-update' product.id %}" 
                    class="harvestly-nav-btn-primary d-flex justify-content-center align-items-center py-2 mx-1"
                >
                    <h4 class="m-0">Edit</h4>
                </a>
            </div>
        {% endif %}
    </div>
{%endblock %}
