{% extends "layout.html" %}
{% block title %}Markets{% endblock %}

{% block content %}

<div>
    <div class="d-flex align-items-center justify-content-between mb-5">
        <h1 class="title">Markets</h1>
        <a href="{% url 'event-create'%}" class="harvestly-nav-btn-primary">
            <h3 class="m-0 px-3 py-2">Add Market</h3>
        </a>
    </div>
    {% if eventlist %}
        <div class="row pt-4 mb-2">
        {% for event in eventlist %}
            <div class="col-md-4 my-3">
                <a class="harvestly-card-link" href="{% url 'event-detail' event.id %}">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{{ event.name|title }}</h3>
                            <h5>{{ event.start_time|date:"F j, Y" }} - {{ event.end_time|date:"F j, Y" }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    {% else %}
        {% include "empty_list.html" with items="markets" %}
    {% endif %}
</div>
{% endblock %}