{% extends "layout.html" %}
{% block title %}Edit Market{% endblock %}

{% block content %}
<div>
    <h3 class="subtitle"> Edit Market Details </h3>
    {% if form.errors %}
        {% include "form_errors.html" with error_items=form.errors.items %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="row mt-4 mb-5">
            <div class="col-md-6 align-self-center harvestly-form-item">
                {{ form.name.label }}
                {{ form.name }}
            </div>
            <div class="col-md-6 align-self-center harvestly-form-item">
                {{ form.location.label }}
                {{ form.location }}
            </div>
            <div class="col-md-6 align-self-center harvestly-form-item">
                {{ form.start_time.label }}
                {{ form.start_time }}
            </div>
            <div class="col-md-6 align-self-center harvestly-form-item">
                {{ form.end_time.label }}
                {{ form.end_time }}
            </div>
        </div>
        <div class="d-flex justify-content-end mt-2">
            <a
                class="harvestly-nav-btn-secondary mx-1 py-2 d-flex justify-content-center align-items-center"
                href="{% url 'event-detail' event.id %}"
            >
                <h4 class="m-0">Cancel</h4>
            </a>
            <button class="harvestly-nav-btn-primary justify-content-center d-flex mx-1 py-2" type="submit">
                <h4 class="m-0">Submit</h4>
            </button>
        </div>      
    </form>

    {% load static %}
    <script>let google_maps_api_key = "{{ google_maps_api_key|safe }}";</script>
    <script src="{% static 'js/googleMapsForm.js' %}"></script>
</div>
{% endblock %}